* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.main-container {
    display: flex;
}


.blank {
    flex: auto;
    background-color:white;
}

.hero-main {
    /* flex: 8; */
}

#title-page{
    position:fixed;
    opacity: 0;
}

.row .sticky {
    position: sticky;
    display: flex;
    flex-direction: row;  
}


#header {
    padding: 5px 0;
    background-color: white;
    display: flex;
    justify-content: center;  
    box-shadow: #7C5723; 
    top: 0;
    z-index: 1;
  }

  .scroller {
    overflow: auto;
  }

  .sticky {
    position: fixed;
    top: 0;
    width: 100%;
  }

.bottom-border {
    border: solid white;
    border-style: solid;
    margin-top: 175px;
    border-width: thin medium thick 20px;
}


#hero {
    display: flex;
    justify-content: center;
    margin-top: -60px;
}


#shipping {
    padding: 15px;
    background-color: #0066cc;
}


#ship {
    color: white;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}


#subhero {
    width: 100%;
    justify-content: center;
    padding: 30px;
}


#shaped-desc {
    text-align: center; 
    margin-bottom: 10px;
    font-family: 'Montserrat', sans-serif;
}

#events {
    text-align: center;
    padding-bottom: 10px;
    margin-bottom: 20px;
    font-family: 'Montserrat', sans-serif;
}

.push-up-text {
    margin-bottom: 120px; 
}


.elemcont1 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.ingdes {
    margin-top: auto;  
    margin-bottom: auto; 
}

.title, .is-2, .content, .is-large {
    margin-left: 25px;
}

.title, .is-1 {
    font-family: 'itc-american-typewriter', serif;
    font-style: normal;
    font-weight: 300;  
}


.mission {
    text-align: center;
}
#mission-info {
    text-align: left;
    padding-left: 15px;
}

.contact {
    text-align: center;
}

#how-to-contact {
    text-align: left;
    padding-left: 15px;
}

.button, .is-primary {
    position: relative;
}
#soap {
    float: right;
    margin-bottom: 30px;

}


.saveing {
    margin-left: 10px;
}

.textarea {
    background-color: rgb(248, 244, 244);
      border: 2px solid #7a7a7a;
}


#hor-line {
    height:1px;
    width: 50%; 
    margin: auto;
    border-width:0;
    color:rgb(161, 160, 160);
    background-color:gray;
    display: block;
    text-align: center;
}


#learn-ingredients {
    display: block;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    padding-bottom: 30px;
}

  .search-result {
      background-color: rgb(248, 244, 244);
      border-radius: 25px;
      border: 2px solid #7a7a7a;
      padding: 20px;
      width: auto;
      height: auto;
      margin-bottom: 30px;
  }
#responsecontainer {
    float:right;
}


#collection-title {
    display: block;
    padding: 12px;
    background-color: #7C5723; 
    margin-bottom: 20px;
    font-family: 'Montserrat', sans-serif;
}

#four {
    color: white;
    text-align: center;
    margin-bottom: 10px;
}


#footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    padding: 12px;
    /* background-color: #89A13A; */
    background-color: #477c23;
}

.container-footer { 
    display: flex;
    justify-content: center;
    padding: 5px;
    background-color: #89A13A;
}


#header {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}


@media screen and (max-width: 470px) {

.king {
flex: auto;
}

#header {
 width: 100%;
}

#footer {
    width: 100%;
   }
}

@media screen and (max-width: 430px) {

    .king {
        flex: auto;
        }

    #header {
        width: 100%;
       }
   
    .collection {
       width: 19%;
       }

       #footer {
           width: 100%;
          }

       }